<link rel="stylesheet" href="contentbuilder/contentbuilder.css" />
<link rel="stylesheet" href="assets/minimalist-blocks/content.css" />
<script src="contentbuilder/contentbuilder.min.js" type="text/javascript"></script>
<script src="assets/minimalist-blocks/content.js" type="text/javascript"></script>
<script src="contentbuilder/lang/en.js" type="text/javascript"></script>

<div class="container">
</div>

<script>
    const builder = new ContentBuilder({
        container: '.container',
        snippetUrl: 'assets/minimalist-blocks/content.js',
        snippetPath: 'assets/minimalist-blocks/',
        imageSelect: 'assets.html',
        fileSelect: 'assets.html',
        videoSelect: 'assets.html',
        assetPath: 'assets/',
        sidePanel: 'left',
        snippetOpen: true,
        snippetCategories: [
        [120,'Basic'],
        [118,'Article'],
        [101,'Headline'],
        [119,'Buttons'],
        [102,'Photos'],
        [103,'Profile'],
        [116,'Contact'],
        [104,'Products'],
        [105,'Features'],
        [106,'Process'],
        [107,'Pricing'],
        [108,'Skills'],
        [109,'Achievements'],
        [110,'Quotes'],
        [111,'Partners'],
        [112,'As Featured On'],
        [113,'Page Not Found'],
        [114,'Coming Soon'],
        [115,'Help, FAQ']
        ],
        defaultSnippetCategory: 118,
        toolbarAddSnippetButton: true,
        });
        builder.loadSnippets('assets/minimalist-blocks/content.js');
        builder.viewSnippets();
    let html = builder.html();
</script>